@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Roboto", sans-serif;
  color: #455A64;
}

.f-36-18-auto{
  font-size: clamp(1.125rem, 0.5rem + 2vw, 2.25rem);
}

.f-28-18-auto{
  font-size: clamp(1.125rem, 0.7778rem + 1.1111vw, 1.75rem);
}

.f-18-14-auto{
  font-size: clamp(0.875rem, 0.7361rem + 0.4444vw, 1.125rem);
}


.f-28-16-auto{
  font-size: clamp(1rem, 0.5833rem + 1.3333vw, 1.75rem);
}


.f-16{
  font-size: 16px;
}

.f-19{
  font-size: 19px;
}
.f-20{
  font-size: 20px;
}

.f-22-16-auto{
  font-size: clamp(1rem, 0.7917rem + 0.6667vw, 1.375rem);
}

.f-24-16-auto{
font-size: clamp(1rem, 0.7222rem + 0.8889vw, 1.5rem);
}

.f-25{
  font-size: 25px;
}

.fw-500{
  font-weight: 500;
}

.fw-800{
  font-weight: 800;
}
.text-color-green{
  color: #01818C;
}

.lh-cus-set{
  line-height: 1;
}



.f-18-14-auto{
  font-size: clamp(0.875rem, 0.7361rem + 0.4444vw, 1.125rem);
}


.f-18-16-auto{
 font-size: clamp(1rem, 0.9306rem + 0.2222vw, 1.125rem);
}